node_modules
build
dist
.env
src/package.json
src/providers/.DS_Store
.DS_Store
key
.fastify

src/metadata.json

/Users/ewilan/Workspace/fastify-template/.fastify

/.fastify

/src/dotenv.d.ts
screen*.png
/src/public/downloads
