name: Tests on unix

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        stability: [prefer-stable]

    name: ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: latest

      - name: Install dependencies
        run: npm i -g pnpm@8

      - run: pnpm install --frozen-lockfile
      - run: pnpm test
      - run: pnpm coverage

      - name: Send code coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: false
          files: ./coverage/clover.xml
